<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <link rel="stylesheet" href="css/style.css">
    <title>VUE-hello</title>

  </head>
  <body>

    <!-- <div id="root">

      <input v-model="message">
      <p>{{ message }}</p>
    </div> -->

    <div id="container">
      <input type="text" name="" value="" v-model="message" placeholder="write here">
      <h1>{{message}}</h1>
      <input type="text" name="" value="" v-model="text" placeholder="write here">
      <p>{{text}}</p>
      <img :src="immagine" alt="">
    </div>



    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
